$sombraUno: 0px 1px 10px rgba(0, 0, 0, 0.2);
$sombraDos: 5px 5px 20px rgba(0, 0, 0, 0.4);
$colorBoton: hsla(38, 90%, 48%, 0.882);
$gradienteUno: linear-gradient(
  to left,

  rgba(234, 153, 12, 0.881),
  rgba(204, 132, 8, 0.881),
  rgba(161, 104, 6, 0.881),
  rgba(135, 90, 11, 0.881),
  rgba(72, 47, 4, 0.881)
);

$gradienteDos: linear-gradient(
  to left,

  rgba(234, 153, 12, 0.881),
  rgba(204, 132, 8, 0.881),
  rgba(161, 104, 6, 0.881),
  rgba(135, 90, 11, 0.881),
  rgba(72, 47, 4, 0.881)
);
