.container-tarjeta {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 10px;
  animation: lista 4s infinite;
}

.mover {
  animation: fadeIn;
  animation-duration: 4s;
  font-family: "Courier New", Courier, monospace;
}

.title-tarjetas {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 1.3em;
  margin-top: 0.69em;
  text-align: center;
  color: black;
}

.title-tarjetas h1 {
  font-size: 5em;
}

.tarjeta {
  width: 100%;
  margin: 20px;
  margin-bottom: 3em;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}
.tarjeta:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.tarjeta img {
  width: 100%;
  height: 210px;
}
.tarjeta .contenido-tarjeta {
  padding: 15px;
  text-align: center;
}
.tarjeta .contenido-tarjeta h3 {
  margin-bottom: 15px;
  color: black;
}
.tarjeta .contenido-tarjeta p {
  line-height: 1.8;
  color: black;
  font-size: 14px;
  margin-bottom: 5px;
}
.tarjeta .contenido-tarjeta a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #071b1f;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.tarjeta .contenido-tarjeta a:hover {
  background: hsla(38, 90%, 48%, 0.882);
  color: rgb(13, 9, 148);
}

@media only screen and (min-width: 50px) and (max-width: 768px) {
  .container-tarjeta {
    flex-wrap: wrap;
  }

  .title-tarjetas h1 {
    font-size: 2em;
  }
  .tarjeta {
    margin: 15px;
  }
}
