.superior {
  background-image: linear-gradient(
    to right,
    hsla(38, 90%, 48%, 0.882),
    rgba(204, 132, 8, 0.881),
    rgba(161, 104, 6, 0.881),
    rgba(135, 90, 11, 0.881),
    rgba(72, 47, 4, 0.881)
  );
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.superior span {
  border: 2px dashed black;

  padding: 4em;
}

.superior a {
  text-decoration: none;
  color: rgb(52, 40, 40);
  font-size: 1.5em;
}

.superior span:hover {
  background-image: linear-gradient(
    to left,
    hsla(38, 95%, 50%, 0.882),
    rgba(225, 145, 5, 0.881),
    rgba(192, 125, 10, 0.881),
    rgba(172, 113, 11, 0.881),
    rgba(114, 74, 4, 0.881)
  );
}

.respuestas {
  text-align: center;
}

.respuestas h2 {
  text-align: center;
  font-size: 3em;
}

#arte {
  animation: fadeInDown;
  animation-duration: 2s;
}

#somos {
  animation: fadeInDown;
  animation-duration: 6s;
}

#porque {
  animation: fadeInDown;
  animation-duration: 10s;
}

.finalp {
  margin-bottom: 2em;
}

.imgNosotros {
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 650px) {
  .superior span {
    border: 2px dashed black;
    width: 100%;
    height: 100%;
  }
}
