* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.parallax {
  background-image: url("../images/textura.jpg");
  height: 25vh;
  background-size: cover;
  background-attachment: fixed;
  font-size: 6em;
}

.aviso {
  display: flex;
  justify-content: center;
}

.centrar {
  text-align: center;

  font-size: 3.5em;
}

.proximas p {
  font-size: 1.4em;
}

nav {
  background-image: linear-gradient(
    to right,
    hsla(37, 52%, 86%, 0.882),
    rgba(240, 218, 181, 0.881),
    rgba(246, 214, 161, 0.881),
    rgba(243, 193, 106, 0.881),
    rgba(245, 181, 71, 0.881)
  );
}

nav {
  background-image: linear-gradient(
    to left,
    hsla(37, 52%, 86%, 0.882),
    rgba(240, 218, 181, 0.881),
    rgba(246, 214, 161, 0.881),
    rgba(243, 193, 106, 0.881),
    rgba(245, 181, 71, 0.881)
  );
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  border: 1px solid black;
  background-image: linear-gradient(
    to right,
    hsla(38, 90%, 48%, 0.882),
    rgba(204, 132, 8, 0.881),
    rgba(161, 104, 6, 0.881),
    rgba(135, 90, 11, 0.881),
    rgba(72, 47, 4, 0.881)
  );
}

footer p {
  text-align: center;
  font-size: medium;
}

footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgF {
  width: 2em;
  height: auto;
}

footer:hover {
  background-image: linear-gradient(
    to left,

    rgba(234, 153, 12, 0.881),
    rgba(204, 132, 8, 0.881),
    rgba(161, 104, 6, 0.881),
    rgba(135, 90, 11, 0.881),
    rgba(72, 47, 4, 0.881)
  );
}

body {
  background-color: rgba(234, 223, 205, 0.881);
}
@media only screen and (max-width: 300px) {
  .aviso img {
    width: 150px;
    height: 80px;
  }

  .parallax {
    font-size: 3em;
  }

  .title-tarjetas h1 {
    font-size: 2em;
  }

  .centrar {
    font-size: 2em;
  }
}
